// Global Color Variables
// ~~~~~~~~~~~~~~~~~~~~~~

$grey-dark-base: #0c0e0f;
$grey-dark: #151819;
$grey-light: #eeeff0;

$grey-darkest: #1E2224;
$grey-lightest: #F8F9F9;
$grey-filter: #EEEFF0;
$grey-button: #838E97;
$grey-text-dark: #393F44;
$grey-text-light: #6F7B84;
$grey-text-lighter: #A3ABB2;
$grey-backdrop: #e3e6e8;

$green-navigation: #79B81F;
$green-button: #1a9c90; //#84C922
$green-text: #157b3e; //#63971A

$blue-real: #2a93db; //#258FDA
$blue-light: #5FADE4;

$red-button: #ad1d2b; //#a81c29

$emerald-dark: #0f5952;
