// X Utility Classes
// ~~~~~~~~~~~~~~~~~

@import '../global/all';

// Visibility
.xu-is-hidden {
  display: none !important;
}

//TODO:Deprecate
@each $breakpoint in $breakpoints {
  @include breakLessThan($breakpoint) {
    .xu-is-hidden--#{$breakpoint} {
      display: none !important;
    }
  }
}

@each $mq-key, $mq-value in $xg-mq-list {
  @media #{$mq-value} {
    .xu-hide-#{$mq-key} {
      display: none !important;
    }
  }
}

@each $mq-key, $mq-value in $xg-mq-list-min {
  @media #{$mq-value} {
    .xu-hide-#{$mq-key}-min {
      display: none !important;
    }
  }
}

// Spacing
.xu-mt-0 {
  margin-top: 0 !important;
}
.xu-mb-0 {
  margin-bottom: 0 !important;
}
.xu-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.xu-clearfix::after {
  clear: both;
  content: "";
  display: table;
}
.xt-right {
  text-align: right !important;
}

// Alignment
.xu-flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.xg-order-2 {
  order: 2;
}

// Sizing
.xu-width-auto {
  width: auto !important;
}
// Text
.xt-mono {
  font-family: monospace !important;
}
.xt-special {
  font-family: $x-custom-font--special;
}
.xt-center {
  text-align: center !important;
}
.xt-td-none {
  text-decoration: none !important;
}
.xt-fw-100 {
  font-weight: 100 !important;
}
.xt-fw-300 {
  font-weight: 300 !important;
}
.xt-fw-400 {
  font-weight: 400 !important;
}
.xt-fw-600 {
  font-weight: 600 !important;
}
.xt-fs-14 {
  font-size: 14px !important;
}
.xt-fs-18 {
  font-size: 18px !important;
}
.xt-fs-22 {
  font-size: 22px !important;
}
.xt-fs-28 {
  font-size: 28px !important;
  line-height: 38px !important;
}

.xt-left {
  text-align: left !important;
}

.xt-u {
  text-decoration: underline !important;
}

.xt-color--white {
  color: #fff !important;
}

.xt-color--black {
  color: #1D2225 !important;
}

.xt-color--light-blue {
  color: #465BEA;
}

.xt-color--blue {
  color: #5082FA;
}

.xt-h1 {
  @extend h1;
}

.xt-h2 {
  @extend h2;
}

.xt-h3 {
  @extend h3;
}

.xt-h4 {
  @extend h4;
}

.xt-h5 {
  @extend h5;
}

.xt-small {
  color: #525E66;
  @include font-size(12);
}

.page-enter-active, .page-leave-active {
  transition-duration: .2s;
}

.page-enter, .page-leave-to {
  opacity: 0;
  transform: scale(0.998);
}

.slide-fade-backward {
  &-enter-active,
  &-leave-active {
    transition: all .2s ease;
  }
  &-enter {
    transform: translateX(-10px);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
}

.slide-fade-forward {
  &-enter-active,
  &-leave-active {
    transition: all .2s ease;
  }
  &-enter {
    transform: translateX(10px);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }
}

a.x-link--underline {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  transition-duration: 0.1s;
  &:hover {
    border-bottom-color: rgba(0,0,0,0.5);
  }
}

a.x-link--underline-white {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: inline-block;
  transition-duration: 0.1s;
  &:hover {
    border-bottom-color: rgba(255,255,255,0.5);
  }
}

a.x-link--underline-hover-white {
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition-duration: 0.1s;
  @include breakLessThan('mobile-large') {
    border-bottom-color: rgba(255,255,255,0.2);
  }
  &:hover {
    border-bottom-color: rgba(255,255,255,0.5);
  }
}
